html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

:root {
  font-size: 10px;
  color: #140705;
  font-family: "Lora", serif;
}

body {
  padding-top: 8vh;
}

main {
  margin-bottom: 15vh;
}

footer {
  position: fixed;
  inset: auto 0 0 0;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#fbf9f9));
  background: linear-gradient(white, #fbf9f9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vh 5vw 2vh;
}

article section {
  margin-bottom: 6vh;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 10vw .5em;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: .75em;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 12vh;
}

p {
  font-size: 1.6rem;
  padding: 0 5vh;
  line-height: 1.8em;
}

a {
  text-decoration: none;
  color: #140705;
  font-size: 1.8rem;
  font-style: italic;
  margin: .75em 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

a:hover {
  color: #e6351a;
  font-weight: 700;
  letter-spacing: .03em;
}

a:active {
  text-decoration: underline;
}

a:focus {
  color: #e6351a;
}

.indexContainer header p {
  margin-bottom: 6vh;
}

main a + p {
  font-size: 1rem;
}

#indexFooter p {
  text-align: center;
  margin: .75em 0;
}

.centerTxt {
  text-align: center;
}

.indexContainer {
  text-align: center;
  font-weight: 700;
  font-size: 1.4rem;
}

.initFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.next {
  font-style: normal;
  background-color: rgba(152, 154, 154, 0.2);
  padding: .5em 2em;
  border-radius: 10px;
}

.next:hover {
  color: #fbf9f9;
  background-color: #e6351a;
  font-weight: 400;
  letter-spacing: 0;
}

.next:active {
  text-decoration: underline;
}

.next:focus {
  color: #e6351a;
}

/* === */
#mainH1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: .5em;
}

#iniAnimation {
  margin-top: 6vh;
  height: 18vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: iniAnimationBg 8000ms infinite;
          animation: iniAnimationBg 8000ms infinite;
  background-color: rgba(152, 154, 154, 0.2);
}

#iniAnimation a {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  -webkit-animation: enterAnimation 8000ms 500ms infinite;
          animation: enterAnimation 8000ms 500ms infinite;
}

#iniAnimation a :hover {
  color: blue;
}

#iniAnimation a :active {
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
}

#iniAnimation a :focus {
  text-decoration: underline;
}

#iniAnimation a a:focus {
  outline: 1px solid;
}

@media screen and (min-width: 768px) {
  footer {
    padding-bottom: 25vh;
  }
}

@-webkit-keyframes enterAnimation {
  0% {
    letter-spacing: 0;
    color: #140705;
  }
  1% {
    letter-spacing: .25em;
  }
  3% {
    letter-spacing: 0;
  }
  4% {
    letter-spacing: .25em;
  }
  6% {
    letter-spacing: 0;
  }
  20% {
    letter-spacing: 0;
  }
  21% {
    letter-spacing: .25em;
  }
  23% {
    letter-spacing: 0;
  }
  24% {
    letter-spacing: .25em;
  }
  26% {
    letter-spacing: 0;
  }
  50% {
    letter-spacing: 0;
    color: #e6351a;
  }
  51% {
    letter-spacing: .25em;
  }
  53% {
    letter-spacing: 0;
  }
  54% {
    letter-spacing: .25em;
  }
  56% {
    letter-spacing: 0;
  }
  100% {
    letter-spacing: 0;
    color: #140705;
  }
}

@keyframes enterAnimation {
  0% {
    letter-spacing: 0;
    color: #140705;
  }
  1% {
    letter-spacing: .25em;
  }
  3% {
    letter-spacing: 0;
  }
  4% {
    letter-spacing: .25em;
  }
  6% {
    letter-spacing: 0;
  }
  20% {
    letter-spacing: 0;
  }
  21% {
    letter-spacing: .25em;
  }
  23% {
    letter-spacing: 0;
  }
  24% {
    letter-spacing: .25em;
  }
  26% {
    letter-spacing: 0;
  }
  50% {
    letter-spacing: 0;
    color: #e6351a;
  }
  51% {
    letter-spacing: .25em;
  }
  53% {
    letter-spacing: 0;
  }
  54% {
    letter-spacing: .25em;
  }
  56% {
    letter-spacing: 0;
  }
  100% {
    letter-spacing: 0;
    color: #140705;
  }
}

@-webkit-keyframes iniAnimationBg {
  0% {
    background-color: #2d2e2e;
  }
  10% {
    background-color: #2d2e2e;
  }
  40% {
    background-color: rgba(152, 154, 154, 0.2);
  }
  60% {
    background-color: rgba(152, 154, 154, 0.2);
  }
  90% {
    background-color: #2d2e2e;
  }
  100% {
    background-color: #2d2e2e;
  }
}

@keyframes iniAnimationBg {
  0% {
    background-color: #2d2e2e;
  }
  10% {
    background-color: #2d2e2e;
  }
  40% {
    background-color: rgba(152, 154, 154, 0.2);
  }
  60% {
    background-color: rgba(152, 154, 154, 0.2);
  }
  90% {
    background-color: #2d2e2e;
  }
  100% {
    background-color: #2d2e2e;
  }
}
