:root{
    font-size: 10px;
    color: $black;
    font-family: $mainFont;
}

body{
    padding-top: 8vh;
}

main{
    margin-bottom: 15vh ;
}

footer{
    position: fixed;
    inset: auto 0 0 0; 
    background: linear-gradient(white, $white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2vh 5vw 2vh;
    
}
 
article section{
    margin-bottom: 6vh;
}